<template>
    <div>
        <div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="crearLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearLabel">Crear publicacion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="region">Region</label>
                                    <select v-model="publicacion.region_id" class="form-control" id="docente">
                                        <option v-for="region in regiones" :value="region.id" :key="region.id">{{ region.nombre }}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="categoria">Categoria</label>
                                    <select v-model="publicacion.categoria_id" class="form-control" id="docente">
                                        <option v-for="categoria in categorias" :value="categoria.id" :key="categoria.id">{{ categoria.nombre }}</option>
                                    </select>
                                </div>
                            </div>                        
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="contenido">Contenido</label>
                                        <textarea id="contenido" class="form-control" rows="6" maxlength="255" v-model="publicacion.contenido"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="referencia">Referencias</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" id="referencia" class="form-control" v-model="referencia">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success btn-block" @click="agregarReferencia()">+</button>
                                </div>
                            </div>
                            <div class="row" v-for="(referencia, inx) in referencias" :key="inx">
                                <div class="col-md-10">{{ referencia }}</div>
                                <div class="col-md-2">
                                    <button class="btn btn-danger btn-block" @click="eliminarReferecnia(inx)">X</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="referencia">Enlaces</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" id="enlace" class="form-control" v-model="enlace">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success btn-block" @click="agregarEnlace()">+</button>
                                </div>
                            </div>
                            <div class="row" v-for="(enlace, inx) in enlaces" :key="inx">
                                <div class="col-md-10">{{ enlace }}</div>
                                <div class="col-md-2">
                                    <button class="btn btn-danger btn-block" @click="eliminarEnlace(inx)">X</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" @click="crearPublicacion()">Publicar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data () {
		return {
			publicacion: {},
            referencia: '',
            referencias: [],
            enlace: '',
            enlaces: [],
		}
	},
    methods: {
		agregarReferencia() {
            if (this.referencia == '') return;
			this.referencias.push(this.referencia);
            this.referencia = '';
		},
        eliminarReferecnia(inx) {
            this.referencias.splice(inx, 1);
		},
        agregarEnlace() {
            if (this.enlace == '') return;
			this.enlaces.push(this.enlace);
            this.enlace = '';
		},
        eliminarEnlace(inx) {
            this.enlaces.splice(inx, 1);
		},
        crearPublicacion() {
            axios
			.post('/api/publicacion', {
                publicacion: this.publicacion,
                enlaces: this.enlaces,
                referencias: this.referencias
            })
			.then(response => {
                window.location.reload()
            })
        }
	},
    props: ['regiones', 'categorias']
}
</script>