<template>
    <div id="contenido_publicaciones">
        <div class="card">
            <div class="card-header">
                <p class="m-0 float-start">{{ publicacion.categoria.nombre }}</p>
                <p class="m-0 float-end">{{ publicacion.region.nombre }}</p>
            </div>
            <div class="card-body">
                <p class="card-text">{{ publicacion.contenido }}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4"><p class="pt-3">{{ publicacion.created_at }}</p></div>
                    <div class="col-md-8">
                        <p class="pt-3 float-end">
                            Leér más en 
                            <a class="me-2" v-for="(referencia, inx) in publicacion.referencias" :key="inx" :href="referencia.url" target="_blank">{{ extraerDominio(referencia.url) }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        extraerDominio(url) {
            let getLocation = function(href) {
                let l = document.createElement("a");
                l.href = href;
                return l;
            };
            let l = getLocation(url);
            return l.hostname
        }
    },
    props: ['publicacion']
}
</script>