<template>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">CopyTwitter</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#crearModal">Crear publicacion</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<Mostrar v-for="p in publicaciones"
			:key="p.id"
			:publicacion="p"
		/>
		<crear :categorias="categorias" :regiones="regiones"/>
	</div>
</template>
<script>

import Mostrar from './components/publicacion/Mostrar.vue'
import Crear from './components/publicacion/Crear.vue'

export default {
	name: 'App',
	components: {
		Mostrar,
		Crear
	},
	data () {
		return {
			info: null,
			categorias: [],
			regiones: [],
			publicaciones: [],
		}
	},
	methods: {
		obtenerPublicaciones() {
			axios
			.get('/api/publicacion')
			.then(response => (this.publicaciones = response.data))
		},
		obtenerCategorias() {
			axios
			.get('/api/categoria')
			.then(response => (this.categorias = response.data))
		},
		obtenerRegiones() {
			axios
			.get('/api/region')
			.then(response => (this.regiones = response.data))
		}
	},
	mounted () {
		this.obtenerPublicaciones();
		this.obtenerCategorias();
		this.obtenerRegiones();
	}
}
</script>